<!DOCTYPE html>
<html>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='idk.css') }}">
  <header>
    <title>Mossy The Bot - Home</title>
    <a href="https://discord.com/api/oauth2/authorize?client_id=738423643314323558&permissions=3402838&scope=bot">Invite</a>
    <a href="/">Home</a>
    <a href="/commands">Commands</a>
    <a href="http://discord.gg/McE8rU9">Support</a>
  </header>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <h1>Mossy The Bot</h1>
    <h3>The multipurpose discord bot</h3>
    Music? Moderation? Memes? You came in the right place. Mossy The Bot cover that up for you. Made by Mossy the mad guy#9139, this bot ready to serve you. Per server prefix, actively developed, this bot might be what you searching for
    <h3>Disadvantage</h3>
    Yes, i write this too(kinda strange but who cares i dont want people blame me)
    <ul>
      <li>Hosted on free platform so it has bad performance and uptime</li>
      <li>Only have 1 developer to maintain</li>
    </ul>
    and i think thats all(just call me if you think there is more)
  </body>
</html>